/* 


blues 
3685B5 - lighter
0471A6 - darker


background white
F4F7F5 - lighter
E8E9F3 - darker


yellow
D5A021

text black
292F36

*/



/* fonts */

@font-face {
    font-family: titlefnt;
    src: url(fnt/HappyUniversary.otf)
}

@font-face {
    font-family: mainfnt;
    src: url(fnt/Vera.ttf);
}

@font-face {
    font-family: mainfnti;
    src: url(fnt/VeraIt.ttf);
}

/* all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* holds iteams in a dive or form next to each other */
.flexcontainer{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}
/* centers items held within a div  */
.centercontents{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* sign-up and login (index.html) */
#indexheader{
    background-color: #0471A6;
    padding-bottom: 0.1rem;
    text-align: center;
    font-family: titlefnt;
    box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.1);
}

#indexheader h1{
    font-size: 3rem;
    color: #FAF9F6;
}


.index{
    gap: 2rem;
}

.index h1{
    text-align: center;
    font-family: titlefnt;
    color: #292F36;
}

.index form{
    min-width: 100%;
}

.index{
    background-color: #e3e3e4;
    padding-bottom: 2rem;
    border-radius: 3px;
    margin-top: 5rem;
    padding-top: 0.5rem;
}

.index form input[type=text],.index form input[type=date],.index form input[type=password],.index form input[type=number]{
    min-width: 100%;
    width: 100%;
    padding: 12px;
    border: 1px solid #E8E9F3;
    border-radius: 4px;
    resize: vertical;
    }

.index form .error{
    color: red;
    font-family: mainfnt;
}

.index form input:focus{
    border: solid #3685B5;
    outline: none;
}

.index form label{
    font-family: mainfnt;
}

.index form input[type=submit]{

    background-color: #D5A021;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
    color: #FAF9F6;
    font-family: titlefnt;
    border-radius: 3px;
    min-width: 10vw;
}

#indexadminlink{
    padding-top: 1rem;
    min-width: 100%;
}

.indexcard div{
    text-align: center;
    background-color: #0471A6;
    border-radius: 3px;
    min-height: 27vh;
    max-height: 27vh;
    margin-top: 2rem;
    padding-bottom: 1rem;
    box-shadow: 9px -10px 7px 2px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:770px) {
    .indexcard div{
        min-height: 10vh;
    }
}
.indexcard div h1{
    text-align: center;
    color: #F3F5F7;
    font-size: 2rem;
    font-family: titlefnt;
    padding-top: 10px;
}


.indexcard div p{
    text-align: center;
    color: #F3F5F7;
    font-size: 1rem;
    font-family: mainfnt;
    line-height: 1.5rem;
}

#indexcardcontainer{
    min-width: 100%;
    max-width: 100%;
    margin-top: 5rem;
    margin-bottom: 1.5rem;

}

#indexoptions {
    min-height: 60vh;
}




/* body */

body{
    background-color: #F4F7F5;
    overflow-x: hidden;
}

/* footer */

footer{
    background-color: #292F36;
    min-height: 5vh;
    text-align: center;
    color: #F3F5F7;
    padding: 0.2rem;
}


/* start of popup */